.movie-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
/* Your CSS Code here. */
.moviePic {
	height: 200px;
	width: 200px;
	opacity: 10;
}

.movieDetail {
	position: relative;
	top: 100px;
	width: 200px;
	text-align: center;
	font-size: 15px;
}